/* CSS untuk konten artikel */
article {
  width: 80%; /* Lebar konten */
  margin: 0 auto; /* Membuat konten berada di tengah */
  padding: 20px;
  text-align: center; /* Menengahkan teks */
}

/* CSS untuk judul */
.news1 h2 {
  color: #333;
  font-size: 35px;
  margin-bottom: 10px;
}

/* CSS untuk gambar */
h3 img {
  max-width: 100%; /* Gambar responsif */
  height: auto;
  display: block;
  margin: 0 auto; /* Memberikan jarak bawah */
}

/* CSS untuk paragraf */
.news1 p {
  max-width: 100%;
  color: #666;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

/* CSS untuk kolom komentar */
.comment-box {
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 20px;
  background-color: rgb(242, 242, 244);
  border-radius: 5px;
}

#username,
#comment-input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #a8b1ce;
  border-radius: 3px;
}

.submit-comment {
  background-color: #354c9a;
  color: white;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  width: auto;
  border-radius: 3px;
  text-align: center;
}

.submit-comment:hover {
  background-color: #425db3;
}

.comment-list {
  list-style-type: none;
  padding: 0;
  font-size: medium;
}
#username {
  font-weight: normal;
  font-family: monospace;
}

.comment-list,
#commentText {
  font-weight: normal;
}

.comment-item {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
}

/* Responsive */
/* Media query untuk layar kecil */
@media screen and (max-width: 1024px) {
  article {
    width: 90%; /* Mengurangi lebar konten pada layar kecil */
    padding: 15px; /* Mengurangi padding pada layar kecil */
  }
  .news1 h2,
  h2 {
    font-size: 40px; /* Mengurangi ukuran font judul pada layar kecil */
  }
  .news1 p {
    font-size: 24px;
  }
  #username,
  #comment-input,
  .comment-item,
  .submit-comment {
    font-size: 24px;
  }
}

@media screen and (max-width: 700px) {
  article {
    width: 90%; /* Mengurangi lebar konten pada layar kecil */
    padding: 15px; /* Mengurangi padding pada layar kecil */
  }
  .news1 p {
    font-size: 17px;
  }
  .news1 h2,
  h2 {
    font-size: 25px; /* Mengurangi ukuran font judul pada layar kecil */
  }
  #username,
  #comment-input,
  .submit-comment,
  .comment-item {
    font-size: 15px;
  }
}

@media screen and (min-width: 200px) and (max-width: 500px) {
  article {
    width: 90%; /* Mengurangi lebar konten pada layar kecil */
    padding: 15px; /* Mengurangi padding pada layar kecil */
  }
  .news1 p {
    font-size: 12px;
  }
  .news1 h2,
  h2 {
    font-size: 20px; /* Mengurangi ukuran font judul pada layar kecil */
  }
  #username,
  #comment-input {
    font-size: 11px;
  }
  .submit-comment,
  .comment-item {
    font-size: 11px;
  }
}
