* {
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.berita1 {
    font-size: 25px;
    margin-left: 30px;
}

.berita1 a:hover {
    background-color: black;
    padding: 5px 5px 5px 5px;
}


/* Tampilan Berita */
/* Styling dasar */
.container {
    position: relative; /* Membuat konten dalam posisi relatif */
    overflow: hidden; /* Menghindari gambar keluar dari container */
    z-index: -1;
}

.trending1 {
    position: relative;
    text-align: center;
}

.trending1 img {
    width: 100%; /* Lebar gambar mencapai 100% lebar parent */
    height: auto; /* Menjaga aspek rasio gambar */
    display: block;
    margin: 0 auto; /* Memposisikan gambar di tengah */
}

/* Mengatur teks agar berada di tengah gambar */
.poin1, .poin2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    text-align: center;
    width: 80%;
}

.poin1 {
    font-size: 30px; /* Ukuran font untuk layar umum */
}

.poin2 {
    font-size: 18px; /* Ukuran font untuk layar umum */
    top: 60%; /* Posisi top untuk poin2 */
}

/* Media query untuk layar dengan lebar minimal 700px */
@media screen and (min-width: 700px) {
    .poin1 {
        font-size: 50px;
    }
    .poin2 {
        font-size: 25px;
        top: 70%; /* Posisi top untuk poin2 pada layar yang lebih besar */
    }
}

@media screen and (max-width: 500px){
    .poin1 {
        font-size: 20px;
    }
    .poin2 {
        font-size: 10px;
        top: 60%; /* Posisi top untuk poin2 pada layar yang lebih besar */
    }
}

