* {
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}

.berita1 {
    font-size: 25px;
}

.berita1 a:hover {
    background-color: black;
    padding: 5px 5px 5px 5px;
}


/* Tampilan Berita */
/* Styling dasar */
.container {
    position: relative; /* Membuat konten dalam posisi relatif */
    overflow: hidden; /* Menghindari gambar keluar dari container */
    z-index: -1;
}

.trending1 {
    position: relative;
    text-align: center;
}

.trending1 img {
    width: 100%; /* Lebar gambar mencapai 100% lebar parent */
    height: auto; /* Menjaga aspek rasio gambar */
    display: block;
    margin: 0 auto; /* Memposisikan gambar di tengah */
}

/* Mengatur teks agar berada di tengah gambar */
.poin1, .poin2, .poin3 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

.poin1 {
    font-size: 20px; /* Ukuran font untuk layar umum */
}

.poin2 {
    font-size: 10px; /* Ukuran font untuk layar umum */
    top: 60%; /* Posisi top untuk poin2 */
}

.poin3 {
    font-size: 8px;
    top: 70%;

}

/* Media query untuk layar dengan lebar minimal 700px */
@media screen and (min-width: 700px) {
    .poin1 {
        font-size: 40px;
    }
    .poin2 {
        font-size: 20px;
        top: 60%; /* Posisi top untuk poin2 pada layar yang lebih besar */
    }
    .poin3 {
        font-size: 15px;
        top: 75%;
    }
}

@media screen and (max-width: 500px){
    .poin1 {
        font-size: 20px; /* Ukuran font untuk layar umum */
    }
    
    .poin2 {
        font-size: 10px; /* Ukuran font untuk layar umum */
        top: 60%; /* Posisi top untuk poin2 */
    }
    
    .poin3 {
        font-size: 8px;
        top: 70%;
    }
}


/* CSS Berita Utama */
.berita7 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    border-bottom: 10px solid #5a81fa;
    margin-left: 40px;
}


.berita7 nav {
    margin-top: 30px;
    width: 120px;
    padding-left: 10px;
    padding-top: 5px;
    background-color: #5a81fa;
}

/* Gaya untuk .berita7 pada layar yang lebih kecil */
@media screen and (max-width: 768px) {
    .berita7 {
        font-size: 20px; /* Mengurangi ukuran font untuk layar kecil */
        margin-left: 10px; /* Mengurangi margin kiri untuk tampilan yang lebih sesuai */
        border-bottom: 10px solid #5a81fa;
    }
    .berita7 nav {
        width: 90px; /* Mengubah lebar elemen nav agar lebih responsif */
    }
}


/* CSS Berita Selengkapnya */
.flex-container2 {
  display: flex;
  flex-direction: column;
  width: 100%; /* Lebar container diubah menjadi 100% agar lebih responsif */
  margin-left: 20px; /* Mengurangi margin agar lebih responsif */
}

.flex-container1 {
  display: flex;
  flex-direction: column;
  width: 100%; /* Lebar container diubah menjadi 100% agar lebih responsif */
  margin-left: 20px; /* Mengurangi margin agar lebih responsif */
}

.row {
  display: flex;
  flex-direction: row;
}


  h1 {
    font-size: 15px;
  }

  h1 a img{
    width: 100%;
    height: auto;
  }

  h2 a img {
    width: 100%;
    height: auto;
  }

  h3 a img {
    width: 100%;
    height: auto;
  }

  h4 a img {
    width: 100%;
    height: auto;
  }

  @media all and (max-width: 768px) {
    .flex-container2,
    .flex-container1 {
      width: auto; /* Mengubah lebar container menjadi 100% pada layar kecil */
      margin-left: 0; /* Menghapus margin kiri pada layar kecil */
      
    }
    
    h1 {
      font-size: 12px; /* Ukuran font lebih kecil pada layar kecil */
    }
    
    /* Anda bisa menyesuaikan properti lainnya sesuai kebutuhan pada layar kecil */
  }