* {
  box-sizing: border-box;
}

main {
  padding: 0px;
  margin: 0px;
}

/* Tampilan Berita */
.container {
  position: relative;
  /* Membuat konten dalam posisi relatif */
  overflow: hidden;
  /* Menghindari gambar keluar dari container */
  z-index: -1;
}

.trending1 {
  margin: 0px;
  position: relative;
  text-align: center;
}

.trending1 img {
  width: 100%;
  /* Lebar gambar mencapai 100% lebar parent */
  height: auto;
  /* Menjaga aspek rasio gambar */
  margin: 0px;
  padding: 0px;
  /* Memposisikan gambar di tengah */
}
/* Mengatur teks agar berada di tengah gambar */

.poin1,
.poin2,
.poin3 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 90%;
}

.poin1 {
  font-size: 40px;
  /* Ukuran font untuk layar umum */
}

.poin2 {
  font-size: 25px;
  /* Ukuran font untuk layar umum */
  top: 50%;
  /* Posisi top untuk poin2 */
}

.poin3 {
  font-size: 15px;
  top: 70%;
}

@media screen and (max-width: 1024px) {
  .poin1 {
    font-size: 30px;
  }
  .poin2 {
    font-size: 20px;
    top: 50%;
  }
  .poin3 {
    font-size: 15px;
    top: 75%;
  }
}

/* Media query untuk layar dengan lebar minimal 700px */
@media screen and (max-width: 700px) {
  .poin1 {
    font-size: 20px;
  }
  .poin2 {
    font-size: 14px;
    top: 50%;
    /* Posisi top untuk poin2 pada layar yang lebih besar */
  }
  .poin3 {
    font-size: 12px;
    top: 75%;
  }
}

@media screen and (max-width: 500px) {
  .poin1 {
    font-size: 15px;
    /* Ukuran font untuk layar umum */
  }
  .poin2 {
    font-size: 11px;
    /* Ukuran font untuk layar umum */
    top: 50%;
    /* Posisi top untuk poin2 */
  }
  .poin3 {
    font-size: 8px;
    top: 70%;
  }
}
/* CSS Berita Utama */

#sepak-bola {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  border-bottom: 10px solid #5a81fa;
  margin-right: 3%;
  margin-left: 40px;
}

#sepak-bola nav {
  margin-top: 30px;
  width: 180px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #5a81fa;
}
/* Gaya untuk .berita7 pada layar yang lebih kecil */

@media screen and (max-width: 768px) {
  #sepak-bola {
    font-size: 20px;
    /* Mengurangi ukuran font untuk layar kecil */
    margin-left: 10px;
    /* Mengurangi margin kiri untuk tampilan yang lebih sesuai */
    border-bottom: 10px solid #5a81fa;
  }
  #sepak-bola nav {
    width: 120px;
    /* Mengubah lebar elemen nav agar lebih responsif */
  }
}

/* CSS Berita Selengkapnya */
.flex-container2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  margin-left: 20px;
}

.flex-container2 .flex-container2-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.flex-container2-gbr {
  width: 90%;
  align-items: start;
}

.flex-container1-gbr {
  width: 90%;
  align-items: start;
}

.flex-container1 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  margin-left: 20px;
}

.flex-container1 .flex-container1-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* Tampilan Berita Responsive */
@media all and (max-width: 700px) {
  .row {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  .flex-container1 {
    width: 100%;
  }
  .flex-container2 {
    width: 100%;
  }
}

/* Tampilan Berita Bulu Tangkis */
#bulu-tangkis {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  border-bottom: 10px solid #2fc891;
  margin-right: 3%;
  margin-left: 40px;
}

#bulu-tangkis nav {
  margin-top: 30px;
  width: 190px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #2fc891;
}

@media screen and (max-width: 768px) {
  #bulu-tangkis {
    font-size: 20px;
    /* Mengurangi ukuran font untuk layar kecil */
    margin-left: 10px;
    /* Mengurangi margin kiri untuk tampilan yang lebih sesuai */
    border-bottom: 10px solid #2fc891;
  }
  #bulu-tangkis nav {
    width: 130px;
    /* Mengubah lebar elemen nav agar lebih responsif */
  }
}

/* CSS Berita Bulu Tangkis Selengkapnya */
.flex-container4 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  margin-left: 20px;
}

.flex-container4 .flex-container4-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.flex-container4-gbr {
  width: 90%;
  align-items: start;
}

.flex-container3-gbr {
  width: 90%;
  align-items: start;
}

.flex-container3 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  margin-left: 20px;
}

.flex-container3 .flex-container3-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.row1 {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* Tampilan Berita Responsive */
@media all and (max-width: 700px) {
  .row1 {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  .flex-container3 {
    width: 100%;
  }
  .flex-container4 {
    width: 100%;
  }
}

#basket {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  border-bottom: 10px solid #656565;
  margin-right: 3%;
  margin-left: 40px;
}

#basket nav {
  margin-top: 30px;
  width: 130px;
  padding-left: 10px;
  padding-top: 5px;
  background-color: #656565;
}

@media screen and (max-width: 768px) {
  #basket {
    font-size: 20px;
    /* Mengurangi ukuran font untuk layar kecil */
    margin-left: 10px;
    /* Mengurangi margin kiri untuk tampilan yang lebih sesuai */
    border-bottom: 10px solid #656565;
  }
  #basket nav {
    width: 100px;
    /* Mengubah lebar elemen nav agar lebih responsif */
  }
}

/* CSS Berita Bulu Tangkis Selengkapnya */
.flex-container6 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  margin-left: 20px;
}

.flex-container6 .flex-container6-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.flex-container6-gbr {
  width: 90%;
  align-items: start;
}

.flex-container5-gbr {
  width: 90%;
  align-items: start;
}

.flex-container5 {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
  margin-left: 20px;
}

.flex-container5 .flex-container5-tulisan {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  line-height: 0px;
}

.row2 {
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

/* Tampilan Berita Responsive */
@media all and (max-width: 700px) {
  .row2 {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
  }

  .flex-container5 {
    width: 100%;
  }
  .flex-container6 {
    width: 100%;
  }
}
