
.date-time-container1 {
    margin-left: 40px;
    display: flex;
    gap: 5px;
    color: #5a81fa;
}

.date-time-container2 {
    margin-left: 40px;
    display: flex;
    gap: 5px;
    color: #5a81fa;
}

.date-time-container3 {
    margin-left: 40px;
    display: flex;
    gap: 5px;
    color: #5a81fa;
}

.date-time-container4 {
    margin-left: 40px;
    display: flex;
    gap: 5px;
    color: #5a81fa;
}